apiVersion: v1
kind: Service
metadata:
  name: backend-service
  labels:
    app: blogging-backend
spec:
  type: NodePort
  selector:
    app: blogging-backend
  ports:
  - name: http
    protocol: TCP
    port: 5000
    targetPort: 5000
    nodePort: 30001
