apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  labels:
    app: blogging-frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: blogging-frontend
  template:
    metadata:
      labels:
        app: blogging-frontend
    spec:
      containers:
      - name: frontend
        image: talal123atiq/blogging-frontend:latest
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "256Mi"
            cpu: "200m"
