apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
type: Opaque
stringData:
  mongodb-url: "YOUR_MONGODB_ATLAS_CONNECTION_STRING"
  jwt-token: "YOUR_JWT_SECRET_TOKEN"
  mongo-password: "YOUR_MONGO_PASSWORD"
